.photograph-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fafafa;
  padding: 10px 0 25px 0;
  width: 87%;
  margin: 25px 0;
  height: auto;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  width: 90%;
}

.photograph-header_left {
}
.photograph-header_middle {
}
.photograph-header_right {
}
.photograph-header_right #photograph-img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.photograph-medias_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}

.photograph-medias_section::after {
  content: '';
  margin: 35px;
  width: 400px;
}

.photograph-medias-filters {
  display: flex;
  align-items: center;
}
.photograph-medias-filters select {
  background-color: #901c1c;
  font-size: 1em;
  margin-left: 10px;
  color: white;
  padding: 5px;
  height: 38px;
  border-radius: 0.3em;
}
.photograph-medias-filters select option {
  font-size: 1.1em;
  border-radius: 0.3em;
  color: white;
}

.photograph-media-item_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #901c1c;
}
.photograph-media-item_bottom svg {
  width: 15px;
  margin-left: 5px;
  fill: #901c1c;
}
.photograph-media-item {
  margin: 35px;
  margin-left: 0;
}
.photograph-media-item_top img,
.photograph-media-item_top video {
  width: 400px;
  height: 400px;
  object-fit: cover;
}
.photograph-media-item_bottom a {
  cursor: pointer;
}

.photograph-infos {
  background-color: #e28888;
  font-size: 1.1em;
  padding: 12px 25px;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  display: flex;
  position: fixed;
  bottom: 0;
  right: 50px;
}
.photograph-infos p {
  margin: 0;
}
.photograph-infos_likes {
  display: flex;
  margin-right: 50px;
}
.photograph-infos_likes svg {
  margin-left: 7px;
  width: 15px;
}
.photograph-infos_price {
  display: flex;
}
